apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: jsonplaceholder-cors
  namespace: kong
plugin: cors
config:
  origins:
  - "*"
  methods:
  - GET
  - POST
  - PUT
  - DELETE
  - OPTIONS
  headers:
  - Accept
  - Content-Type
  - Authorization
  credentials: true
  max_age: 3600
---
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: jsonplaceholder-cache
  namespace: kong
plugin: proxy-cache
config:
  strategy: memory
  content_type:
  - application/json
  cache_ttl: 300
  cache_control: false
---
apiVersion: configuration.konghq.com/v1
kind: KongIngress
metadata:
  name: jsonplaceholder-override
  namespace: kong
upstream:
  host_header: jsonplaceholder.typicode.com
proxy:
  protocol: https
  path: /
---
apiVersion: v1
kind: Service
metadata:
  name: jsonplaceholder-external
  namespace: kong
spec:
  type: ExternalName
  externalName: jsonplaceholder.typicode.com
  ports:
  - port: 443
    targetPort: 443
    protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jsonplaceholder-ingress
  namespace: kong
  annotations:
    konghq.com/plugins: jsonplaceholder-cors, jsonplaceholder-cache
    konghq.com/override: jsonplaceholder-override
    konghq.com/strip-path: "true"
    konghq.com/preserve-host: "false"
spec:
  ingressClassName: kong
  rules:
  - host: kong.archse.eng.br
    http:
      paths:
      - path: /api/posts
        pathType: Prefix
        backend:
          service:
            name: jsonplaceholder-external
            port:
              number: 443
