apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-manager-config
  namespace: kong
data:
  KONG_ADMIN_GUI_URL: "https://kong.archse.eng.br"
  KONG_ADMIN_GUI_PATH: "/"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kong-admin-ingress
  namespace: kong
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/strip-path: "false"
spec:
  ingressClassName: kong
  tls:
  - hosts:
    - kong.archse.eng.br
    secretName: kong-admin-tls
  rules:
  - host: kong.archse.eng.br
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: kong-service
            port:
              number: 8002
