apiVersion: batch/v1
kind: Job
metadata:
  name: kong-migrations
  namespace: kong
spec:
  template:
    metadata:
      name: kong-migrations
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kong-migrations
        image: kong:3.4
        command: ['kong', 'migrations', 'bootstrap']
        envFrom:
        - secretRef:
            name: kong-secrets
