apiVersion: v1
kind: Service
metadata:
  name: kong-service
  namespace: kong
spec:
  type: LoadBalancer
  selector:
    app: kong
  ports:
  - name: proxy
    port: 80
    targetPort: 8000
    protocol: TCP
  - name: proxy-ssl
    port: 443
    targetPort: 8443
    protocol: TCP
  - name: admin
    port: 8001
    targetPort: 8001
    protocol: TCP
  - name: admin-ssl
    port: 8444
    targetPort: 8444
    protocol: TCP
  - name: manager
    port: 8002
    targetPort: 8002
    protocol: TCP
  - name: manager-ssl
    port: 8445
    targetPort: 8445
    protocol: TCP